@font-face {
  font-family: 'starife_demoregular';
  src: url("/fonts/starifedemo-webfont.woff2") format("woff2"), url("/fonts/starifedemo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mortal_waveregular';
  src: url("/fonts/mortal_wave-webfont.woff2") format("woff2"), url("/fonts/mortal_wave-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'argon_demoregular';
  src: url("/fonts/argon-demo-webfont.woff2") format("woff2"), url("/fonts/argon-demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.modal-img-fullscreen {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.644);
  height: 100%;
  width: 100%;
  z-index: 50;
}

.modal-img-fullscreen:hover {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.modal-img-fullscreen img {
  width: 50%;
  max-height: 95%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222222;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  padding: 10px 0 10px 0;
}

header .left-header-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .left-header-nav img {
  height: 40px;
  max-width: 134px;
}

header .header-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-basket .bi-basket3-fill {
  font-size: 1.5em;
}

header .header-basket .qty-basket {
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 20px;
  font-size: 1.3em;
  border-radius: 50%;
}

header .header-basket:hover {
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

header nav a {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.3em;
  position: relative;
}

header nav a:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  visibility: hidden;
  background-color: white;
  -webkit-transition: all 0.1s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

header nav a:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

header .right-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header .right-header-nav a {
  color: white;
  border: 1px solid white;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .right-header-nav a:hover {
  color: #000;
  background: white;
}

header .right-header-nav .search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .right-header-nav .search .bi-search {
  position: absolute;
  top: 30%;
  left: 5%;
  color: black;
}

header .right-header-nav .search input {
  border-radius: 30px;
  padding-left: 30px;
  border: 1px solid white;
  background: white;
}

header .right-header-nav .search input:focus {
  outline: none;
  border: 3px solid #c0bcb4;
}

header .responsive-button {
  color: black;
  margin: 5px 10px 0 0;
  background: white;
  padding: 10px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .responsive-button:hover {
  cursor: pointer;
  color: white;
  background: none;
  border: 1px solid white;
}

.modal-other-product {
  z-index: 10;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.452);
  height: 100%;
  width: 100%;
  text-align: center;
}

.modal-other-product .content-other-product {
  width: 60%;
  position: absolute;
  padding: 30px;
  background: #f8f8f4;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-other-product .content-other-product .other-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal-other-product .content-other-product .header-other-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-other-product .content-other-product .header-other-product .close-modal-basket {
  margin-bottom: 50px;
  background: none;
  color: #000;
}

.modal-other-product .content-other-product .title {
  font-size: 2em;
  margin-bottom: 25px;
}

.modal-other-product .content-other-product .close-modal {
  background: none;
  border: none;
  font-size: 2em;
  color: #c0bcb4;
}

.modal-other-product .content-other-product .close-modal:hover {
  cursor: pointer;
  color: #000;
}

.modal-other-product .content-other-product button {
  background: none;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 10px;
}

.modal-other-product .content-other-product button:hover {
  cursor: pointer;
  background-color: #838080;
  color: white;
}

.modal-other-product .content-other-product button:first-child {
  background: #000;
  color: white;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.modal-other-product .content-other-product button:first-child:hover {
  background: #c5e8e3;
  color: #000;
}

.modal-other-product .other-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-other-product .other-product p {
  margin-top: 15px;
  font-size: 1.3em;
}

.modal-other-product .purchase-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal-other-product img {
  -webkit-box-shadow: 5px 8px 23px -6px rgba(0, 0, 0, 0.36);
          box-shadow: 5px 8px 23px -6px rgba(0, 0, 0, 0.36);
  width: 200px;
  height: 300px;
  margin: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}

.modal-other-product img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10vh;
  font-family: "starife_demoregular";
  letter-spacing: 0.2em;
}

.shoes-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shoes-content .principal-shoes {
  position: relative;
}

.shoes-content .shoes-bg {
  height: 550px;
  width: 550px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffaadd), to(#c5e8e3));
  background: linear-gradient(#ffaadd, #c5e8e3);
  border: 4px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.shoes-content .shoes {
  position: absolute;
  top: 15%;
  left: 19%;
  max-height: 400px;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.description-content {
  width: 50%;
}

.description-content .title-content h1 {
  font-size: calc(4vw + 4vh + 2vmin);
  font-family: "mortal_waveregular";
}

.description-content .title-content h1 sup {
  font-size: calc(1vw + 1vh + 1vmin);
  color: #585757;
}

.description-content .title-content p {
  font-family: "starife_demoregular";
  letter-spacing: 0.2em;
}

.description-content .choice-color-shoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.description-content .choice-color-shoes .shoes-color {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.description-content .choice-color-shoes .shoes-color:hover {
  cursor: pointer;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  -webkit-box-shadow: -3px -1px 18px 2px rgba(0, 0, 0, 0.36);
          box-shadow: -3px -1px 18px 2px rgba(0, 0, 0, 0.36);
}

.description-content .choice-color-shoes .bg-1 {
  background-image: url("/img/shoeschoice1.png");
}

.description-content .choice-color-shoes .bg-2 {
  background-image: url("/img/shoeschoice2.png");
}

.description-content .choice-color-shoes .bg-3 {
  background-image: url("/img/shoeschoice3.jpg");
}

.description-content .choice-color-shoes .bg-4 {
  background-image: url("/img/preview4.jpeg");
}

.description-content .price {
  margin-top: 20px;
  font-size: calc(1vw + 1vh + 1vmin);
  font-family: "starife_demoregular";
  letter-spacing: 0.2em;
}

.description-content .price :first-child {
  color: red;
  -webkit-text-decoration: line-through 0.5px;
          text-decoration: line-through 0.5px;
}

.description-content .sizes {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c0bcb4;
  font-family: "starife_demoregular";
  letter-spacing: 0.2em;
  font-size: calc(0.6vw + 1vh + 1vmin);
}

.description-content .sizes:hover {
  cursor: pointer;
}

.description-content .sizes .size-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-content .sizes .size-select :first-child {
  margin-right: 10px;
  font-size: 1.3em;
}

.qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 2em;
}

.qty .add-qty {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.qty .add-qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8em;
  background: #000;
  color: white;
  height: 30px;
  width: 30px;
  margin: 5px;
  -webkit-transition: 0.3ms;
  transition: 0.3ms;
}

.qty .add-qty button:hover {
  cursor: pointer;
  background: none;
  color: #000;
}

.shop {
  margin-top: 20px;
}

.shop button {
  font-family: "starife_demoregular";
  letter-spacing: 0.2em;
  background: none;
  color: #000;
  font-size: calc(0.6vw + 1vh + 1vmin);
  border-radius: 10px;
  padding: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.shop button:hover {
  cursor: pointer;
  background: black;
  color: white;
  -webkit-box-shadow: -3px -1px 18px 2px rgba(0, 0, 0, 0.36);
          box-shadow: -3px -1px 18px 2px rgba(0, 0, 0, 0.36);
}

.none {
  display: none;
}

.modal-shipment {
  width: 100%;
  height: 100%;
}

.modal-shipment .img-logo {
  text-align: center;
}

.modal-shipment .img-logo img {
  height: 50px;
}

.modal-shipment .btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 20px;
}

.modal-shipment .btn-content .btn-close-modal-shipment {
  border: none;
  background: none;
  font-size: 2em;
  color: #c0bcb4;
}

.modal-shipment .btn-content .btn-close-modal-shipment:hover {
  color: #000;
  cursor: pointer;
}

.modal-shipment .modal-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-family: "starife_demoregular";
  letter-spacing: 0.2em;
}

.modal {
  font-family: "starife_demoregular";
  letter-spacing: 0.2em;
  height: 100%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.534);
  position: fixed;
  z-index: 10;
}

.modal .modal-size {
  position: fixed;
  right: 0;
  top: 200px;
  width: 35vw;
  border: 3px solid black;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7e9e9));
  background: linear-gradient(#ffffff, #f7e9e9);
  border-radius: 10px;
}

.modal .modal-size .close-modal-size {
  position: absolute;
  right: 20px;
  border: none;
  background: none;
  font-size: 2.5em;
  color: #c0bcb4;
}

.modal .modal-size .close-modal-size:hover {
  cursor: pointer;
  color: black;
}

.modal .modal-size .modal-title {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #c0bcb4;
}

.modal .modal-size .modal-title img {
  height: 30px;
}

.modal .modal-size .modal-sizes-select {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal .modal-size .modal-sizes-select .button-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 90px;
  margin-top: 10px;
}

.modal .modal-size .modal-sizes-select .button-content button {
  padding: 15px 50px;
  border-radius: 40px;
  font-size: calc(0.7vw + 1vh + 1vmin);
  background: none;
  border: 2px solid #c0bcb4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal .modal-size .modal-sizes-select .button-content button:hover {
  cursor: pointer;
  background: black;
  color: #c0bcb4;
}

.modal-comments {
  width: 100%;
  height: 100%;
}

.modal-comments .modal-comments-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-comments .img-logo {
  text-align: center;
}

.modal-comments .img-logo img {
  height: 50px;
}

.modal-comments h5 {
  margin-top: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.modal-comments .btn-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 20px;
}

.modal-comments .btn-content .btn-close-modal-comments {
  border: none;
  background: none;
  font-size: 2em;
  color: #c0bcb4;
}

.modal-comments .btn-content .btn-close-modal-comments:hover {
  color: #000;
  cursor: pointer;
}

.modal-comments .progress-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.modal-comments .progress-status {
  background: #c5e8e3;
  height: 20px;
  width: 80%;
  border-radius: 20px;
  margin-inline: 10px;
}

.modal-comments .null {
  background: #c0bcb4;
}

.modal-comments .users-comments {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.7em;
  background-color: #c0bcb4;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
}

.modal-comments .users-comments .date {
  font-size: 0.7em;
}

.modal-comments .users-comments img {
  width: 50px;
  height: 50px;
}

.modal-comments .users-comments img:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.modal-comments .users-comments button {
  background: black;
  color: white;
  font-size: 1em;
  border-radius: 10px;
  padding: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.modal-comments .users-comments button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  color: black;
}

.images-description {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.images-description .images {
  width: 50%;
}

.images-description .images img {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.images-description .shoes-description-content {
  margin-top: 50px;
}

.images-description .absolute {
  position: absolute;
  bottom: 50px;
  right: 0;
}

.images-description .description {
  right: 0;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "argon_demoregular";
  line-height: 1.5em;
  font-size: calc(0.3vw + 1vh + 1vmin);
}

.images-description .description h2 {
  font-family: "starife_demoregular";
  letter-spacing: 0.2em;
  font-size: calc(2vw + 1vh + 1vmin);
  line-height: 1.1em;
  text-align: center;
}

.images-description .description .text-description {
  margin-top: 30px;
}

.images-description .detail-description {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #c0bcb4;
}

.images-description .comment-shipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.images-description .comment-shipment .shipment {
  color: chocolate;
}

.images-description .comment-shipment .shipment:hover {
  cursor: pointer;
}

.images-description .comment-shipment small {
  font-size: 0.7em;
}

.images-description #opinion {
  color: chocolate;
}

.images-description #opinion:hover {
  cursor: pointer;
}

.images-description #opinion small {
  color: grey;
}

footer {
  background: #222222;
  color: white;
  margin-top: 100px;
}

footer .information {
  margin-top: 10px;
}

footer .information h3 {
  padding-top: 50px;
  font-size: calc(8vw + 1vh + 1vmin);
  font-family: "mortal_waveregular";
}

footer .information p {
  margin-left: 100px;
  font-size: calc(1vw + 1vh + 1vmin);
}

footer .newsletter {
  margin: 20px 0 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .newsletter input {
  padding: 20px;
  border-radius: 15px;
  font-size: calc(0.5vw + 1vh + 1vmin);
}

footer .newsletter button {
  margin-top: 5px;
  font-family: "argon_demoregular";
  padding: 15px;
  border-radius: 10px;
  background: white;
  font-size: calc(0.5vw + 1vh + 1vmin);
}

footer .newsletter button:hover {
  cursor: pointer;
  background: #c0bcb4;
}

footer .nav {
  padding-bottom: 50px;
  margin-top: 50px;
  font-size: calc(1vw + 1vh + 1vmin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .nav .nav-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .nav .nav-section p {
  text-align: center;
  margin-bottom: 20px;
  font-size: calc(1.2vw + 1vh + 1vmin);
}

footer .nav .nav-section a {
  margin-top: 10px;
  color: white;
  font-size: calc(0.5vw + 1vh + 1vmin);
}

footer .nav .nav-section a:hover {
  color: chocolate;
}

footer .social {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(0.5vw + 1vh + 1vmin);
}

footer .social .social-links a {
  color: white;
  margin-left: 10px;
}

footer .social .social-links a:hover {
  color: chocolate;
}

footer .propulse {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}

@media only screen and (max-width: 1250px) {
  .header-nav {
    z-index: 10;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    background: #222222;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: calc(2vw + 1vh + 1vmin);
    padding: 25px 0 20px 0;
  }
  .header-nav .content-link {
    margin-top: 15px;
  }
  header .left-header-nav img {
    height: 30px;
  }
  header .right-header-nav .search {
    display: none;
  }
  header .right-header-nav a {
    position: absolute;
    left: 90px;
    top: 18px;
  }
  header .right-header-nav .header-basket {
    position: absolute;
    right: 60px;
    top: 20px;
  }
  .article-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-content .shoes-content {
    width: 100%;
  }
  .article-content .description-content {
    width: 100%;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-content .description-content h1 {
    text-align: center;
  }
  .article-content .description-content .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: calc(3vw + 1vh + 1vmin);
  }
  .article-content .description-content .price p {
    margin-inline: 20px;
  }
  .article-content .description-content .sizes {
    width: 70%;
  }
  .modal .modal-size {
    width: 70vw;
  }
  footer .newsletter input {
    padding: 10px;
  }
  footer .newsletter button {
    padding: 10px;
  }
  .modal-img-fullscreen img {
    width: 80%;
  }
  .modal-other-product .content-other-product {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .modal-other-product img {
    width: 150px;
    height: 200px;
  }
}

@media only screen and (max-width: 657px) {
  header .right-header-nav a {
    padding: 5px;
  }
  .title-content {
    text-align: center;
  }
  .modal .modal-size {
    width: 99vw;
  }
  .qty {
    font-size: calc(2.5vw + 1vh + 1vmin);
  }
  footer .information p {
    margin-left: 20px;
  }
  footer .newsletter {
    margin-left: 30px;
  }
  footer .newsletter input {
    padding: 9px;
  }
  footer .newsletter button {
    padding: 5px;
  }
  .modal-img-fullscreen img {
    width: 95%;
  }
}

@media only screen and (max-width: 580px) {
  .shoes-content .shoes-bg {
    height: 440px;
    width: 440px;
  }
  .shoes-content .shoes {
    width: 330px;
  }
}

@media only screen and (max-width: 540px) {
  .images-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .images-description .images {
    width: 100%;
  }
  .images-description .description {
    position: relative;
    width: 100%;
    text-align: center;
  }
  .modal-comments .modal-comments-content {
    margin-left: 15px;
    text-align: center;
    width: 94%;
    margin-top: 30px;
  }
  .socket {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .shoes-content .shoes-bg {
    height: 300px;
    width: 300px;
  }
  .shoes-content .shoes {
    width: 230px;
  }
  .modal .modal-size .modal-sizes-select .button-content {
    width: 50%;
    height: 50px;
  }
  .modal .modal-size .modal-sizes-select .button-content button {
    padding: 15px 30px;
  }
  .bonnet {
    display: none;
  }
}

html {
  overflow-x: hidden;
}

.fixed {
  position: fixed;
  right: 0;
}

.top {
  top: 50px;
}

body {
  background: #f8f8f4;
}

.right-entrance {
  -webkit-animation: right-entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: right-entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.right-exit {
  -webkit-animation: right-exit 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: right-exit 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.rotate-exit {
  -webkit-animation: rotate-exit 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
          animation: rotate-exit 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

.swing-entrance {
  -webkit-animation: swing-entrance 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-entrance 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.scale-entrance {
  -webkit-animation: scale-entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-entrance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-exit {
  -webkit-animation: scale-exit 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-exit 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.roll-entrance {
  -webkit-animation: roll-entrance 0.6s ease-in both;
          animation: roll-entrance 0.6s ease-in both;
}

.roll-exit {
  -webkit-animation: roll-exit 0.6s ease-out both;
          animation: roll-exit 0.6s ease-out both;
}

.slide-entrance {
  -webkit-animation: slide-entrance 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
          animation: slide-entrance 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.slide-exit {
  -webkit-animation: slide-exit 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-exit 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-exit {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) translateX(1000px);
            transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
}

@keyframes slide-exit {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px) translateX(1000px);
            transform: translateY(1000px) translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-entrance {
  0% {
    -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
            transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
            transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-entrance {
  0% {
    -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
            transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
            transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes roll-exit {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
            transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-exit {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
            transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes roll-entrance {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(540deg);
            transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
}

@keyframes roll-entrance {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(540deg);
            transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
}

@-webkit-keyframes scale-exit {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-exit {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes scale-entrance {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-entrance {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes right-exit {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes right-exit {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes right-entrance {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes right-entrance {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotate-exit {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}

@keyframes rotate-exit {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}

@-webkit-keyframes swing-entrance {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-entrance {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */