$lightbrown: #C0BCB4;
$lightGreen: #C5E8E3;
$lightPink: #F8B9B8;

.fixed{
  position: fixed;
  right: 0;
}

.top{
  top: 0;
}

.prevent-scroll{
  overflow: hidden;
}
body{
  overflow-x: hidden;
  background: #F8F8F4;
}
.a{
  background: lightblue;
}
.b{
  background: lightgray;
}
.header-top{
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  padding: 2px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  .left-header-nav{
    flex: 1;
    img{
      height: 50px;
      max-width: 134px;
    }
  }
  .header-basket{
    display: flex;
    justify-content: center;
    align-items: center;
    .bi-basket3-fill{
      font-size: 1.5em;
    }
    .qty-basket{
      margin-left: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      font-size: 1.3em;
      border: 1px solid black;
      border-radius: 50%;
    }
  }
  nav{
    display: flex;
    justify-content: space-around;
    flex:4;
    a{
      color: black;
      &:hover{
        color: $lightPink;
      }
    }
  }
  .right-header-nav{
    display: flex;
    justify-content: space-around;
    flex: 2;
    a{
      color: black;
      border: 1px solid black;
      padding: 10px;
      //background: $lightGreen ;
    }
    .search{
      position: relative;
      display: flex;
      justify-content: space-between;
      .bi-search{
        position: absolute;
        top: 30%;
        left: 5%;
      }
      input{
        border-radius: 30px;
        padding-left: 30px;
        border: 1px solid black;
        background: #c0bcb400;
        &:focus{
          outline: none;
          border: 3px solid $lightGreen;
        }
      }
    }
  }
}
.article-content{
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  font-family: 'starife_demoregular';
    letter-spacing: 0.2em;
}

.shoes-content{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .piou{
    position: relative;
  }
  .shoes-bg{
    height: 550px;
    width: 550px;
    border-radius: 50%;
    background: linear-gradient(#FFAADD, $lightGreen);
    border: 4px solid black;
    transition: 3s;
  }
  .shoes{
    position: absolute;
    top: -5%;
    left: 5%;
    max-height: 600px;
    //background: #000;
    border-radius: 50%;
    transform: rotate(0deg);
  }
}

.description-content{
  width: 50%;
  .title-content{
    h1{
      font-size: calc(4vw + 4vh + 2vmin);
      font-family: 'mortal_waveregular';
      sup{
        font-size: calc(1vw + 1vh + 1vmin);
        color: $lightbrown;
      }
    }
    p{
      font-family: 'starife_demoregular';
      letter-spacing: 0.2em;
    }
  }
  .choice-color-shoes{
    display: flex;
    margin-top: 20px;
    .shoes-color{
      margin-right: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid black;
      background-size: cover;
      background-position: center;
      &:hover{
        cursor: pointer;
      }
    }
    .bg-1{
      background-image: url('/img/shoeschoice1.png');
    }
    .bg-2{
      background-image: url('/img/shoeschoice2.png');
    }
  }
  .price{
    margin-top: 20px;
    font-size: calc(1vw + 1vh + 1vmin);
    font-family: 'starife_demoregular';
    letter-spacing: 0.2em;
    :first-child{
      color: red;
      text-decoration:line-through 0.5px;
    }
  }
  .sizes{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $lightbrown;
    font-family: 'starife_demoregular';
    letter-spacing: 0.2em;
    font-size: 1.4em;
    &:hover{
      cursor: pointer;
    }
    .size-select{
      display: flex;
      align-items: center;
      :first-child{
        margin-right: 10px;
        font-size:1.3em;
      }
    }
  }
}
.qty{
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 1.9em;
  .add-qty{
    margin-left: 10px;
    display: flex;
    button{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8em;
      background: #000;
      color: white;
      height: 30px;
      width: 30px;
      margin: 5px;
      transition: 0.300ms;
      &:hover{
        cursor: pointer;
        background: none;
        color: #000;
      }
    }
  }
}
.shop{
  margin-top: 20px;
  button{
    font-family: 'starife_demoregular';
    letter-spacing: 0.2em;
    background: none;
    color: #000;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 10px;
    transition: 300ms;
    &:hover{
      cursor: pointer;
      background: black;
      color: white;
    }
  }
}

.none{
  display: none;
}
//Ship MODAL
.modal-shipment{
  width: 100%;
  height: 100%;
  .img-logo{
    text-align: center;
    img{
      height: 50px;
    }
  }
  .btn-content{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    .btn-close-modal-shipment{
      border: none;
      background: none;
      font-size: 2em;
      color: $lightbrown;
      &:hover{
        color: #000;
        cursor: pointer;
      }
    }
  }
  .modal-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-family: 'starife_demoregular';
    letter-spacing: 0.2em;
  }
}
//SIZE MODAL
.modal{
  font-family: 'starife_demoregular';
  letter-spacing: 0.2em;
  height: 1000%;
  width: 100vw;
  background: rgba(0, 0, 0, 0.534);
  position: absolute;
  .modal-size{
    position: absolute;
    right: 0;
    top: 200px;
    width: 35vw;
    border: 3px solid black;
    background: linear-gradient(#ffffff, rgb(247, 233, 233));
    border-radius: 10px;
    .close-modal-size{
      position: absolute;
      right: 20px;
      border: none;
      background: none;
      font-size: 2.5em;
      color: $lightbrown;
      &:hover{
        cursor: pointer;
        color: black;
      }
    }
    .modal-title{
      text-align: center;
      margin-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid $lightbrown;
      img{
        height: 30px;
      }
    }
    .modal-sizes-select{
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .button-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 90px;
        margin-top: 10px;
        button{
          padding: 15px 50px;
          border-radius: 40px;
          font-size: 1.5em;
          background: none;
          border: 2px solid $lightbrown;
          transition: 0.3s;
          &:hover{
            cursor: pointer;
            background: black;
            color: $lightbrown;
          }
        }
      }
    }
  }
}
//COMMENT MODAL
.modal-comments{
  width: 100%;
  height: 100%;
  .img-logo{
    text-align: center;
    img{
      height: 50px;
    }
  }
  h5{
    margin-top: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .btn-content{
    display: flex;
    justify-content: end;
    margin-right: 20px;
    .btn-close-modal-comments{
      border: none;
      background: none;
      font-size: 2em;
      color: $lightbrown;
      &:hover{
        color: #000;
        cursor: pointer;
      }
    }
  }
  .progress-content{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .progress-status{
    background: $lightGreen;
    height: 20px;
    width: 80%;
    border-radius: 20px;
    margin-inline: 10px;
  }
  .null{
    background: $lightbrown;
  }
  .users-comments{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.7em;
    background-color: $lightbrown;
    width: 80%;
    height: 200px;
    border-radius: 10px;
    padding: 20px;
    .date{
      font-size: 0.7em;
    }
    button{
      background: black;
      color: white;
      font-size: 1em;
      border-radius: 10px;
      padding: 5px;
      transition: 300ms;
      &:hover{
        cursor: pointer;
        background: rgba(255, 255, 255, 0);
        color: rgb(0, 0, 0);
      }
    }
  }
}
.images-description{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  .images{
    width: 50%;
    img{
      max-width: 100%;
      width: 100%;
    }
  }
  .shoes-description-content{
    margin-top: 50px;
  }
  .absolute{
    position: absolute;
    bottom: 50px;
    right: 0;
  }
  .description{
    //top: 0;
    right: 0;
    width: 45%;
    display: flex;
    flex-direction: column;
    font-family: 'argon_demoregular';
    line-height: 1.5em;
    font-size: calc(0.5vw + 1vh + 1vmin);
    h2{
      font-family: 'starife_demoregular';
      letter-spacing: 0.2em;
      font-size: calc(2vw + 1vh + 1vmin);
      line-height: 1.1em;
      text-align: center;
    }
    .text-description{
      margin-top: 30px;
    }
  }
  .detail-description{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid $lightbrown;
  }
  .comment-shipment{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    .shipment{
      color: chocolate;
      &:hover{
        cursor: pointer;
      }
    }
    small{
      font-size: 0.7em;
    }
  }
  #opinion{
    color: chocolate;
    &:hover{
      cursor: pointer;
    }
    small{
      color: grey;
    }
  }
}

.slide-in-right{
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-right {
	-webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.swing-out-top-bck {
	-webkit-animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
	        animation: swing-out-top-bck 0.45s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}
@keyframes swing-out-top-bck {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

footer{
  background: rgb(34, 34, 34);
  color: white;
  margin-top: 100px;
  .information{
    margin-top: 10px;
    h6{
      padding-top: 50px;
      font-size: calc(8vw + 1vh + 1vmin);
      font-family: 'mortal_waveregular';
    }
    p{
      margin-left: 100px;
      font-size: calc(1vw + 1vh + 1vmin);
    }
  }
  .newsletter{
    margin: 20px 0 0 100px;
    display: flex;
    flex-direction: column;
    input{
      padding: 20px;
      border-radius: 15px;
      font-size: calc(0.5vw + 1vh + 1vmin);
    }
    button{
      margin-top: 5px;
      font-family: 'argon_demoregular';
      padding: 15px;
      border-radius: 10px;
      background: white;
      font-size: calc(0.5vw + 1vh + 1vmin);
      &:hover{
        cursor: pointer;
        background: $lightbrown;
      }
    }
  }
  .nav{
    padding-bottom: 50px;
    margin-top: 50px;
    font-size: calc(1vw + 1vh + 1vmin);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .nav-section{
      display: flex;
      flex-direction: column;
      p{
        text-align: center;
        margin-bottom: 20px;
        font-size: calc(1.2vw + 1vh + 1vmin);
      }
      a{
        margin-top: 10px;
        color: white;
        font-size: calc(0.5vw + 1vh + 1vmin);
        &:hover{
          color: chocolate;
        }
      }
    }
  }
  .social{
    padding: 20px;
    display: flex;
    font-size: calc(0.5vw + 1vh + 1vmin);
    .social-links{
      a{
        color: white;
        margin-left: 10px;
        &:hover{
          color: chocolate;
        }
      }
    }
  }
}