
@font-face {
    font-family: 'starife_demoregular';
    src: url('starifedemo-webfont.woff2') format('woff2'),
         url('starifedemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mortal_waveregular';
    src: url('mortal_wave-webfont.woff2') format('woff2'),
         url('mortal_wave-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
}

@font-face {
     font-family: 'argon_demoregular';
     src: url('argon-demo-webfont.woff2') format('woff2'),
          url('argon-demo-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 
 }